version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: apps/my-city-backend/Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: always

  frontend:
    build:
      context: .
      dockerfile: apps/my-city/Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend
