version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: apps/my-city-backend/Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: always

  frontend:
    build:
      context: .
      dockerfile: apps/my-city/Dockerfile
    ports:
      - "80:80"

  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    depends_on:
      - frontend
      - backend
    restart: always
  
  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
>>>>>>> 0dcc856 (all works commit on server)
