@if (cart$ | async; as cart) { @if (!cart || cart.items.length === 0) {
<p class="empty">Корзина пуста</p>
} @else { @if(table$ | async; as table) {
<div class="table-info">Столик №{{table.tableId.replace('table-','')}}</div>
}
<section class="items">
  @for (item of cart.items; track item.dishId) {
  <app-cart-item
    [cartItem]="item"
    (increase)="onIncrease($event)"
    (decrease)="onDecrease($event)"
    (remove)="onRemove($event)"
  />
  }
</section>

<div class="total">
  <h3>Итого: {{ total$ | async }} ₽</h3>
  @if(!isDineIn() && cart.orderType){
  <mat-form-field>
    <mat-label>Ваш номер для связи</mat-label>
    <input
      matInput
      placeholder="+7 (___) ___-__-__"
      [formControl]="number"
      (blur)="updateErrorMessage()"
      required
    />
    @if (number.invalid) {
    <mat-error>{{errorMessage()}}</mat-error>
    }
  </mat-form-field>
  <div class="order-type">
    <button
      class="btn btn-white btn-animate"
      mat-stroked-button
      (click)="setOrderType('Доставка')"
    >
      <mat-icon>moped</mat-icon> Доставка
    </button>

    <button
      class="btn btn-white btn-animate"
      mat-stroked-button
      (click)="setOrderType('Самовывоз')"
    >
      <mat-icon>person_4</mat-icon> Самовывоз
    </button>
  </div>
  } @else{
  <p class="hint">Заказ оформляется за столиком</p>
  }

  <div class="actions">
    @if(cart.orderType === 'В ресторане') {
    <button
      mat-flat-button
      color="primary"
      [disabled]="!cart.orderType"
      (click)="createOrder()"
    >
      Оформить заказ
    </button>
    } @else {
    <button
      mat-flat-button
      color="primary"
      [disabled]="!cart.orderType || number.invalid"
      (click)="createOrder()"
    >
      Оформить заказ
    </button>
    }

    <button mat-button color="warn" (click)="clearCart()">
      Очистить корзину
    </button>
  </div>
</div>
} }
