.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
    background: none;
  .logo {
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    color: white;
    text-decoration: none;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .nav-links {
    display: flex;
    gap: 1rem;

    @media (max-width: 768px) {
      display: none; // скрываем на мобилке
    }
  }

  .mobile-menu-btn {
    display: none;

    @media (max-width: 768px) {
      display: block; // показываем только на мобилке
    }
  }
}