.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;

  .logo {
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    color: white;
    text-decoration: none;
  }

  .spacer {
    flex: 1 1 auto;
  }
  .cart-count {
    position: absolute;
    top: 28px;
    right: 13px;
    background-color: #13458f;
    color: white;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
  }
  .nav-links {
    display: flex;
    gap: 1rem;

    @media (max-width: 768px) {
      display: none; // скрываем на мобилке
    }
  }

  .mobile-menu-btn {
    display: none;
    
    @media (max-width: 768px) {
      display: block; // показываем только на мобилке
    }
  }
  
}
