<section class="hero">
  <div class="hero-content">
    <h1>
      My City
      <span>— заказывай еду легко</span>
    </h1>

    <p class="subtitle">
      Найди ресторан в своём городе или просто отсканируй QR-код за столом
    </p>

    <div class="actions">
      <button
        mat-flat-button
        color="primary"
        routerLink="/restaurants"
      >
        Найти ресторан
      </button>

      <button
        mat-stroked-button
        color="primary"
      >
        Сканировать QR
      </button>
    </div>
  </div>
</section>
