/* You can add global styles to this file, and also import other style files */
@use '@angular/material/prebuilt-themes/indigo-pink.css';
* {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  box-sizing: border-box;
  background: linear-gradient(
    90deg,
    #121216 0%,
    #121216 7.692%,
    #16171a calc(7.692% + 1px),
    #16171a 15.385%,
    #1a1b1f calc(15.385% + 1px),
    #1a1b1f 23.077%,
    #1f2023 calc(23.077% + 1px),
    #1f2023 30.769%,
    #232427 calc(30.769% + 1px),
    #232427 38.462%,
    #27282b calc(38.462% + 1px),
    #27282b 46.154%,
    #2b2c2f calc(46.154% + 1px),
    #2b2c2f 53.846%,
    #2f3033 calc(53.846% + 1px),
    #2f3033 61.538%,
    #323337 calc(61.538% + 1px),
    #323337 69.231%,
    #36373a calc(69.231% + 1px),
    #36373a 76.923%,
    #38393d calc(76.923% + 1px),
    #38393d 84.615%,
    #3b3c40 calc(84.615% + 1px),
    #3b3c40 92.308%,
    #3d3e42 calc(92.308% + 1px) 100%
  );
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
