/* You can add global styles to this file, and also import other style files */
@use '@angular/material/prebuilt-themes/indigo-pink.css';
*{
  margin: 0px;
  padding: 0px;
  
}
body {
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
  color: #fff !important;
  background:
    radial-gradient(
      circle at top,
      #1c1c1c 0%,
      #0b0b0b 40%,
      #000 100%
    );
}
