section {
  padding: 2rem;
  color: white;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    opacity: 0.8;
  }

  img {
    width: 100%;
    max-height: 550px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  .dishes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
  }
}
.dishes-filter {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  
  mat-label {
    color: #fff;
  }
  mat-form-field {
    flex: 1;
    min-width: 180px;
    background: rgba(48, 47, 47, 0.05);
    border-radius: 8px;
    color: #fff;
    .mat-form-field-outline {
      color: #fff;
    }

    .mat-form-field-label {
      color: #ccc;
    }

    .mat-select {
      color: #fff;

      .mat-select-value-text {
        color: #fff;
      }
    }

    .mat-select-panel {
      background: #1e1e2f;
      color: #fff;

      .mat-option {
        color: #fff;

        &:hover {
          background: #33334d;
        }

        &.mat-selected {
          background: #4a90e2;
          color: #fff;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .dishes-filter {
    flex-direction: column;
  }
}
/* Мобильная адаптивка */
@media (max-width: 768px) {
  section {
    padding: 1rem;

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    .dishes {
      grid-template-columns: 1fr; /* одна колонка на мобилке */
      gap: 1rem;
    }

    img {
      max-height: 250px;
    }
  }
}
