<mat-card class="restaurant-card">
  <img
    mat-card-image
    [src]="restaurant.imageUrl"
    [alt]="restaurant.name"
  />

  <mat-card-content>
    <h3>{{ restaurant.name }}</h3>
    <p>{{ restaurant.cuisine }}</p>
  </mat-card-content>

  <mat-card-actions>
    <button
      mat-flat-button
      color="primary"
      [routerLink]="['/restaurants', restaurant.id]"
    >
      Открыть меню
    </button>
    @if(isAdmin$ | async) {
      <button
      mat-flat-button
      color="warn"
      (click)='onDelete()'
    >
      Удалить
    </button>
    }
    
  </mat-card-actions>

</mat-card>
